<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Dartrefjp : Japanese translation for documents of Dartlang." />

    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">

    <title>Dartrefjp</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/dartrefjp/dartrefjp">View on GitHub!</a>

          <h1 id="project_title"><a href="http://dartrefjp.github.com/dartrefjp/">Dartrefjp</a></h1>
          <h2 id="project_tagline">Japanese translation for documents of Dartlang.</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	  <section id="main_content" class="inner">
		<nav id="navigation">
{% include nav.html %}
		</nav>

		<article id="content_text">
{{content}}
		</article>
	  </section>
	</div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Dartrefjp maintained by <a href="https://groups.google.com/forum/?hl=ja&fromgroups#%21forum/dartrefjp">Dartrefjp User Group</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
